body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #1D1F23;
  color: #9E9D9E; 
}

p {
  margin: 0;
  font-size: 15px;
}

.form {
  width: 400px;
  height:auto;
  border-radius: 15px;
  border: 1px solid #191919;
  box-shadow: 0px 1px 20px 2px rgba(0, 0, 0, 0.25)
}

.signin-form {
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.question-form {
  display: flex;
}

.form-header {
  position: relative;
  background-color: #24292E;
  width: 100%;
  height: 35px;
  border-radius: 15px 15px 0 0;
  
}

.form-body {
  background-color: #2A2F33;
  width: 100%;
  height: 85%;
  border-radius: 0 0 15px 15px;
}

.form-title {
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  user-select: none;
}

.sigin-body-p {
  display: block;
  font-size: 14px;
  padding: 20px;
  user-select: none;
}

.profile-pic {
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  user-select: none;
}

.signin-body-form {
  padding: 10px 0 0 35px;
}

.sign-in-button {
  color: #FFFFFF;
  background-color: #26AA91;
  height: 21px;
  width: 68px;
  font-size: 12px;
  border-radius: 2px;
  border-style: none;
  user-select: none;
  cursor: pointer;
  box-shadow: 0px 1px 25px 2px rgba(0, 0, 0, 0.15); 
  margin-top: 30px;
  margin-left: 265px;
}

.login-user-select {
  position: absolute;
  top: 110px;
  background-color: #2A2F33;
  border: none;
  color: #9E9D9E;
  margin-left: 20px;
}


hr {
  box-sizing: border-box;
  display: inline-block;
  width: 40%;
  margin: 0;
  border: 0.5px solid rgb(80, 80, 80);
  user-select: none;
}

.inline-p {
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  display: inline-block;
  color: #CCCCCB;
  user-select: none;
  width: 20%;
}

.or-seperator {
  box-sizing: border-box;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 0;
}

.optionOne {
  padding: 20px;
  height: auto;
}

.optionTwo {
  padding: 20px;
  height: auto;
  margin-bottom: 20px;
}

.margin {
  margin: 10px;
}

.active {
  color: #CCCCCB
}

.nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 10px;
}

.nav li {
  padding: 10px;
  user-select: none;
  cursor: pointer;
}

.title-bar {
  display: flex;
  background-color: #24292E;
  margin: 0;
}

.nav-account {
  margin-left: auto;
  margin-right: 10px;
}